{% extends "socialaccount/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %} | Pokomo Dictionary & Wiki{% endblock %}
  {% block extra_head %}
  <style>
    body {
      background: #EAE5FF !important;
    }
    main {
      max-width: 800px;
    }
    .logo {
      width: 90px;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      color: #7143C2;
    }

  </style>
  {% endblock%}
{% block content %}
<main class="p-4">
  <a class="navbar-brand d-flex justify-content-center" aria-label="PokomoDictionary logo" href="{% url 'index' %}">
      <img class="logo img-fluid" src="{% static 'img/Logo.png' %}" alt="pokomodictionary.com" />
  </a>
  <h2>{% trans "Sign Up" %}</h2>

  <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
  {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

  <form class="signup mb-2" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}" style="width: fit-content;">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
  <a class="" href="{% url 'account_login' %}">Login instead</a>
  <div class="d-flex justify-content-between mt-5">
    <a class="text-muted small" href="{% url 'tos' %}" target="_blank" rel="noopener noreferrer">Terms of Service</a>
    <a class="text-muted small" href="{% url 'privacy' %}" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
  </div>

</main>
{% endblock %}
