{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} | Pokomo Dictionary{% endblock %}
  {% block extra_head %}
  <style>
    body {
      background: #EAE5FF !important;
    }
    main {
      max-width: 800px;
    }
    .logo {
      width: 90px;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      color: #7143C2;
    }

  </style>
  {% endblock%}
{% block content %}
<main class="p-4">
  <a class="navbar-brand d-flex justify-content-center" aria-label="PokomoDictionary logo" href="{% url 'index' %}">
      <img class="logo img-fluid" src="{% static 'img/Logo.png' %}" alt="pokomodictionary.com" />
  </a>
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
{% endblock %}
