{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
  {% block extra_head %}
  <style>
    body {
      background: #EAE5FF !important;
    }
    main {
      max-width: 800px;
    }
    .logo {
      width: 90px;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      color: #7143C2;
    }

  </style>
  {% endblock%}
{% block content %}
<main class="p-4">
  <a class="navbar-brand d-flex justify-content-center" aria-label="PokomoDictionary logo" href="{% url 'index' %}">
      <img class="logo img-fluid" src="{% static 'img/Logo.png' %}" alt="pokomodictionary.com" />
  </a>
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>

{% endblock %}
