{% extends 'dictionary/base2.html' %} {% load static %}
{% block title %}
<title>Content Guidelines | Pokomo Dictionary & Wiki</title>
{% endblock title %}
{% block content %}
<main class="">
    <h2>Pokomo Dictionary Content Guidelines</h2>
    <p>Pokomo Dictionary is made by a community of millions, including you. Anybody can post a definition, but in order to keep things fun for everyone, we ask that you follow a few ground rules:</p>
    <i class="fa fa-check-square" style="color: green; font-size: x-large;"></i>
    <ul>
        <li><strong>Write for a large audience.</strong> When defining a word, make sure to provide enough context for other people to understand what if means and how it's typically used. Need a little help? Look to our word of the Day for some examples</li>
        <li><strong>Be creative.</strong> Some of the best definitions on Pokomo Dictionary find humorous ways to define words and give examples. We're okay with that.</li>
        <li><strong>Have fun.</strong> We are not a traditional dictionary. this is where language has a little more space to be explored and constructed freely, in the moment. Just remember to define words correctly</li>
    </ul>
    <i class="fa fa-stop-circle" style="color: red; font-size: x-large;"></i>
    <ul>
        <li><strong>Don’t post personal information.</strong> That includes obvious things like last names and addresses, but we will also remove definitions containing first names or user handles if they can be used to identify and target specific individuals for harassment.</li>
        <li><strong>Don’t be an asshole.</strong> We are okay with people defining offensive words. After all, people use offensive words in the real world and a resource for understanding what those words mean can be valuable. However, we are not—and never will be—okay with people using a definition to harass, discriminate, and/or directly incite violence against others.</li>
    </ul>
    <p class="text-muted">If you notice anything on Urban Dictionary that you believe falls outside of these guidelines, please flag it for review.</p>
</main>
{% endblock content %}