{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!-- 
        Don't bother reading this code, you won't get anything usefull. |`_`| ---- |`_`|
        
        if you're Pokomo "Odhu?"/"maagu"
        
     -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <link rel="canonical" href="http://Pokomodictionary.com> <link
    rel="shortlink" href="http://Pokomodictionary.com
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Pokomo Dictionary & Wiki | http://acetheessayapp.herokuapp.com/"
    />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://Pokomodictionary.com/>
    <meta
      property="og:site_name"
      content="Pokomo Dictionary & Wiki | http://acetheessayapp.herokuapp.com/"
    />
    <!-- <meta property="og:image" href="link" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendor/fa/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/new.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'img/Logo@2x.png' %}"
      type="image/x-icon"
    />
    <title>Pokomo Dictionary: New Word</title>
  </head>
  <body>
      <main class="container">
<p>All the definitions on <strong>Pokomo dictionary</strong> were written by people just like you. Now's your chance to add your own!</p>
<p>Please review Pokomo dictionary's <a href="#" target="_blank">content guidelines</a> before writing your definition. Here's the short version: <strong>Share definitions that other people will find meaningful and never post hate speech or people’s personal information.</strong></p>
      </main>
</body>
</html>