{% load static %}

<!DOCTYPE html>
<html lang="en">
  <!-- 
        Don't bother reading this code, you won't get anything usefull. |`_`| ---- |`_`|
        
        if you're Pokomo "Odhu?"/"maagu?"
        
     -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <link rel="canonical" href="http://Pokomodictionary.com"> 
    <link rel="shortlink" href="http://Pokomodictionary.com">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Pokomo Dictionary & Wiki | http://acetheessayapp.herokuapp.com/"
    />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://Pokomodictionary.com"/>
    <meta
      property="og:site_name"
      content="Pokomo Dictionary & Wiki | http://acetheessayapp.herokuapp.com/"
    />
    <!-- <meta property="og:image" href="link" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/new.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'img/Logo@2x.png' %}"
      type="image/x-icon"
    />
    <title>New Word | Pokomo Dictionary</title>
  </head>
  <body>
    <main class="container">
      <div class="my-4">
        <span class=" d-flex justify-content-end">
            <a href="{% url 'index' %}">
          <i
            class="close fa-regular fa-circle-xmark fa-2xl justify-content-end"
          ></i>
            </a>
        </span>

        <h2 class="text-center mb-5 pt-3">NEW WORD</h2>
      </div>
      <section class="mb-4">
        <p>
          All the definitions on <strong>Pokomo dictionary</strong> were written
          by people just like you. Now's your chance to add your own!
        </p>
        <p>
          Please review Pokomo dictionary's
          <a href="{% url 'content_guidelines' %}">content guidelines</a> before writing your
          definition. Here's the short version:
          <strong
            >Share definitions that other people will find meaningful and never
            post hate speech or people’s personal information.</strong
          >
        </p>
        <form action="" method="post" class="d-flex flex-column gap-4 mb-4">
          {% csrf_token %}
          <input
            class="p-4"
            type="text"
            name="word"
            maxlength="100"
            id="word"
            required
            placeholder="Word"
            aria-label="Enter word"
            autocapitalize="words"
            autocomplete="off"
            autofocus="off"
            autocorrect="off"
            spellcheck="false"
            tabindex="0"
          />
          <p>
            <strong>Write for a large audience.</strong> Lots of people will
            read this, so give some background information.<br />
            <strong>Don't name your friends.</strong> We'll
            <a href="{% url 'editor' %}">reject</a> inside jokes and definitions naming
            non-celebrities.<br> <span class="text-muted small">Words ones approved cannot be edited.</span>
          </p>
          <textarea
            class="p-4"
            name="definition"
            id="definition"
            cols="50"
            rows="5"
            required
            placeholder="Type your definition here..."
            autocapitalize="words"
            autocomplete="off"
            autofocus="off"
            autocorrect="off"
            spellcheck="false"
          ></textarea>
          <textarea
            class="p-4"
            name="example"
            id="example"
            cols="50"
            rows="5"
            required
            placeholder="Type an example of how it's used in a sentence"
            autocapitalize="words"
            autocomplete="off"
            autofocus="off"
            autocorrect="off"
            spellcheck="false"
          ></textarea>
          <textarea
            class="p-4"
            name="other_definitions"
            id="other_definitions"
            cols="50"
            rows="5"
            placeholder="Type other definitions"
            autocapitalize="words"
            autocomplete="off"
            autofocus="off"
            autocorrect="off"
            spellcheck="false"
          ></textarea>
          <!-- <label for="language">Langauge:</label> -->
          <select class="p-1" name="language" required id="language">
            <option value="Upper Pokomo" selected>Upper Pokomo</option>
            <option value="Malanchini">Malanchini</option>
          </select>
          <select class="p-1" name="clan" required id="clan">
            <option value="None" selected>None</option>
            <option value="Ndera">Ndera</option>
            <option value="Zubaki">Zubaki</option>
            <option value="Kinakomba">Kinakomba</option>
            <option value="Gwano">Gwano</option>
            <option value="Malanchini">Malanchini</option>
          </select>
          <p class="text-center">
            Definitions are subject to our
            <a href="{% url 'tos' %}">term of service</a> and
            <a href="{% url 'privacy' %}">privacy policy.</a>
          </p>
          <button class="btn text-center">Submit!</button>
        </form>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/684f3642c3.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
