/* 

color codes---
main background: #fff
Purple BG: #EAE5FF
Purple Font: #7143C2
Blue: #14AFDF
Black: 000
Orange: #E4832F

*/

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
