{% extends 'users/base.html' %}
{% load static %}
{% load account %}

{% block title %}
<title> User Profile | Pokomo Dictionary & Wiki</title>
{% endblock title %}
{% block content %}
<section class="mt-5">
    <div class="d-flex mb-4 gap-2">
    <h3 class="">Profile</h3>
    <button class="btn-sm badge bg-success btn">Switch account</button>
    </div>
    <div class="row gap-2">
        <div class="col-md-4 d-flex flex-column align-items-center user-box">
            <img src="{% static 'img/profile.svg' %}" alt="profile" style="width:50%;">
            <p class="text-center mt-4">Welcome back,<br>
            <span class="username">{% user_display user %}.</span></p>
            <a class="btn btn-settings mt-3" href="#" role="button">Settings</a>
        </div>
        <div class="col-md-7">
            <h5 class="summary-h1">Summary</h5>
            <div class="row gap-2">
                <div class="summary-box co col-sm-5">
                    <p class="summary-h2">REPUTATION</p>
                    <p class="badge bg-success">35</p>
                    <div class="d-flex gap-2 justify-content-between">
                        <p class="votes-cast">11<br><span class="small"> Votes cast</p>
                        <p class="votes-cast">0<br><span class="small"> Helpful flags</p>
                    </div>
                </div>
                <div class="summary-box co col-sm-6">
                    <p class="summary-h2">WORDS</p>
                    <p class="votes-cast small">0<br><span class="small"> Words</p>
                </div>    
            </div>
        </div>
    </div>   
</section>
{% endblock content %}
{% block extraScript %}{% endblock extraScript %}